body {
  background-color: #f2f2f2;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  max-width: 1024px;
  height: 64px;
  margin: 0 auto;
  background-color: #4a90e2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a.home {
  margin-left: 42px;
  display: block;
}

.header a.perfil {
  margin-right: 42px;
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.postList {
  max-width: 700px;
  margin: 0 auto;
}

.post {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.133916);
}
.postHeader {
  display: flex;
  flex-direction: row;
}

.postAvatar img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.postInfo {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.postAuthor {
  color: #4a4a4a;
  line-height: 14px;
  font-size: 14px;
  margin-bottom: 5px;
}

.postDate {
  font-size: 11px;
  line-height: 11px;
  color: #9a9a9a;
}

.postContent {
  line-height: 22px;
  color: #3e3e3e;
  border-bottom: 2px solid #eee;
}

.comment {
  display: flex;
  margin-top: 20px;
}

.commentAvatar img {
  width: 28px;
  height: 28px;
  border-radius: 100%;
}

.commentContent {
  margin-left: 10px;
  background: #eeeeee;
  border-radius: 20px;
  color: #333333;
  padding: 10px 15px;
  font-size: 13px;
  line-height: 20px;
}
